@import '/scss/mixins/mixins';

main {
    @include flexCol;
}

h1 {
    font-size: 4rem;
    margin: 50px 0 50px 0;
    color: white;
    @include mainFont;
    text-align: center;
}

.image {
    width: 1000px;
    @include marginCenter;

    img {
        width: 1000px;
        height: auto;
        @include marginCenter;
    }
}


.textDiv {
    width: 1000px;
    height: auto;
    text-align: start;
    @include marginCenter;

    p {
        color: white;
        @include mainFont;
        font-size: 1.5rem;
    }
}

.project-buttons {
    @include flexRow;
    gap: 30px;
    margin: 20px auto 50px auto;
    justify-content: flex-start;
    width: 530px;

    a {
        width: auto;
        text-decoration: none;
    }
    
    button {
        font-size: 1.2rem;
        border: 1px solid white;
        border-radius: 10px;
        width: 250px;
        height: 70px;
        color: white;
        transition: 0.3s ease-in-out;
        transform: scale(1);
        @include flexRow;
        align-items: center;
        justify-content: center;

        .github-on-button {
            width: auto;
            height: 30px;
            border: none;
            margin: 0 0 0 10px;
        }
    }

    .button-project:hover {
        background-color: #070F2B;
        color: #fff700;
        transform: scale(1.03);
    }

    
}