@mixin flexRow {
    display: flex;
    flex-direction: row;
}

@mixin flexCol {
    display: flex;
    flex-direction: column;
}

@mixin mainFont {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@mixin marginCenter{
    margin: 0 auto 0 auto;
}

@mixin upperCase {
    text-transform: uppercase;
}

@mixin lightPurpleText{
    color: #535C91;
}

@mixin lightPurpleBackground{
    background-color: #535C91;
}