@import './scss/mixins/mixins';

.skills-section {

    h2 {
        margin: auto 0;
        font-size: 4rem;
        margin-top: 100px;
    }
}



.skills {
    @include flexRow;
    justify-content: center;
}


h4 {
    color: white;
    font-size: 2.5rem;
    @include mainFont;
    margin: 0 auto 50px auto;
    width: 200px;
    text-align: center;
    height: 50px;
}

.stack-icon{
    width: auto;
    height: 30px;
    margin-left: 10px;
}

.front-end {
    list-style: none;
    color: black;
    @include mainFont;
    @include flexCol;
    width: 400px;
    margin: 150px 0 50px 0;
    padding: 0;

    .list {
        @include flexRow;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 40px;

        li {
            border: 2px solid white;
            width: 250px;
            height: 70px;
            font-size: 1.3rem;
            @include flexRow;
            justify-content: center;
            align-items: center;
        }

        .html {
            background-color: orange;
            border: 2px solid rgb(255, 213, 150);
        }

        .typescript {
            background-color: rgb(38, 157, 255);
            border: 2px solid rgb(255, 213, 150);
        }

        .react {
            background-color: rgb(145, 206, 255);
            border: 2px solid rgb(255, 213, 150);
        }

        .css3 {
            background-color: rgb(0, 95, 172);
            border: 2px solid rgb(255, 213, 150);
        }

        .vite {
            background-color: rgb(248, 255, 39);
            border: 2px solid rgb(255, 213, 150);
        }

        .sass {
            background-color: rgb(237, 138, 255);
            border: 2px solid rgb(255, 213, 150);
        }

        .javascript {
            background-color: rgb(252, 255, 103);
            border: 2px solid rgb(255, 213, 150);
        }

        .node {
            background-color: rgb(130, 255, 138);
            border: 2px solid rgb(255, 213, 150);
        }
    }
}

.back-end {
    list-style: none;
    color: black;
    @include mainFont;
    @include flexCol;
    width: 400px;
    margin: 150px 0 50px 0;
    padding: 0;

    .list {
        @include flexRow;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 40px;

        li {
            border: 2px solid white;
            width: 250px;
            height: 70px;
            font-size: 1.3rem;
            @include flexRow;
            justify-content: center;
            align-items: center;
        }

        .express {
            background-color: rgb(255, 255, 255);
            border: 2px solid rgb(0, 0, 0);
        }

        .digitalOcean {
            background-color: rgb(64, 0, 255);
            border: 2px solid rgb(255, 255, 255);
        }

        .mySql {
            background-color: rgb(255, 255, 255);
            border: 2px solid rgb(0, 21, 255);
        }

        .mongoDB {
            background-color: rgb(115, 255, 39);
            border: 2px solid rgb(0, 0, 0);
        }

        .postman {
            background-color: rgb(255, 89, 0);
            border: 2px solid rgb(238, 255, 0);
        }

        .java {
            background-color: rgb(0, 187, 255);
            border: 2px solid rgb(255, 153, 0);
        }
    }

   
}

.other {
    list-style: none;
    color: black;
    @include mainFont;
    @include flexCol;
    width: 400px;
    margin: 150px 0 50px 0;
    padding: 0;

    .list {
        @include flexRow;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 40px;

        li {
            border: 2px solid white;
            width: 250px;
            height: 70px;
            font-size: 1.3rem;
            @include flexRow;
            justify-content: center;
            align-items: center;
        }

        .illustrator {
            background-color: rgb(255, 89, 0);
            border: 2px solid rgb(0, 0, 0);
        }

        .photoshop {
            background-color: rgb(0, 187, 255);
            border: 2px solid rgb(0, 33, 100);
        }

        .figma {
            background-color: rgb(255, 70, 70);
            border: 2px solid rgb(145, 255, 0);
        }

        .fl-studio {
            background-color: rgb(255, 157, 0);
            border: 2px solid rgb(106, 255, 0);
        }
    }

    
}